
body{
    background-image: url("img/faded-office.png");
    background-size: cover;
    color:#020202;
    font-family: 'Open Sans', sans-serif;
}

.main {
    display:block;
    font-size: xx-large;
    padding-left:60px;
}
.underline {
    border-bottom: 5px solid lightskyblue;
}
#btn {
    border : none;
    padding: 10px 30px;
    background: lightskyblue;
    color:white;
    font-family:inherit;
    font-size:x-large;
}